html, body {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    justify-content: center;
    height: 100%;
}

.container {
    width: 60%;
    margin: 0 auto 40px;
    min-height: 100%;
}